/* :: digital-calendar-clock Style :: */

:root{ font-family:'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body{ width: 100vw;
    height: 90vh;
    max-width: 60em;
    margin: 1em auto;
}

.container{ position: absolute;
    top: 10%;
    padding: 2rem;
    width: 60rem;
    height: 15rem;
    color:rgb(0, 0, 0); 
    font-size: 4rem;
    background-color: white;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.2rem 0.15rem rgba(0, 0, 0, 0.4);
}

.digital-clock{ position:relative;
    display: flex;
    justify-content: center;
    justify-items:baseline;
    gap: 1rem;
}

#line{ width:100%; 
    height: 0.1rem;
    margin-bottom: 2rem;
    background: black;
}